#post-form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: solid black 7px;
  border-bottom: solid black 15px;
  border-radius: 40px;
  width: 660px;
  overflow-y: auto;
  height: 575px;
  padding-right: 5px; 
  padding-left: 12px;
  background-color: rgb(210, 210, 210);
}