#posts-placeholder {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}

.post-card {
  display: flex;
  border-style: solid;
  border: 5px solid black;
  border-radius: 25px;
  width: 600px;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
}

.post-username {
    padding-bottom: 10px;
    font-size: medium;
    
}

.post-titulo {
    font-size: 2ch;
    font-weight: bolder;
}

.post-imagem {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.post-texto {
    padding-bottom: 10px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    gap: 7px;
    padding-bottom: 10px;
    margin-right: 15px;
}

.stars-container {
  display: flex;
  gap: -3px;
}

.color-star {
  color: black; 
}

.stars-nota {
  width: 20px;
  height: 20px;
  margin-right: -5px;
}
