<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>AnyBoxd</title>

    <script src="/js/sessao.js"></script>
    <script src="/js/posts.js"></script>
    <script src="/js/curtida.js"></script>
    <script src="/js/obterPosts.js"></script>
    <script src="/js/estrelas.js"></script>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/stars.css" />
    <link rel="stylesheet" href="/css/posts.css" />
  </head>

  <body>
    <div class="backdrop"></div>
    <div id="header-placeholder"></div>
        </div>
    <main>
      <div id="starL-placeholder"></div>
      <div id="posts-placeholder"></div>
      <div id="starR-placeholder"></div>
    </main>
  </body>
</html>
<script>
  window.onload = () => {
    headerSessao()
    estrelas()
    obterPostsDoServidor('orderByTime');
  }
</script>
